/**************************
*************************** 
TABLE OF CONTENTS

1.0  Global 
2.0  Color Palette
3.0  Navigation header
4.0  Navigation footer
5.0  Fonts
6.0  Hero stuff
7.0  Animation
8.0  Images
9.0  Scroll bar
10.0 Buttons
11.0 Personal kinks
12.0 Mobile size 

****************************
***************************/

/***********************************/
/*********   1.0 global   **********/
/***********************************/

html, body, div, span,
h1, h2, h3, p, a, em, img, strong,
ol, ul, li, table, caption,
footer, nav {
  padding: 0;
  margin: 0;
  text-decoration: none;
  scroll-behavior: smooth;
  list-style: none;
}

body {
  line-height: 1.3;
  font-family: Arial, Helvetica, sans-serif;
}

/***********************************/
/*****   2.0 Color Palette    ******/
/***********************************/

/*
minty green: rgb(169, 240, 218); 
grey : rgb(240, 245, 245);

*/


/***********************************/
/***   3.0 Navigation header   *****/
/***********************************/

nav{
    background-color: white;
    overflow: hidden;
    padding: 15px;
    position: fixed; 
    top: 0;
    width: 100%; 
}

nav a {
    padding: 14px 16px;
}

/***********************************/
/***   4.0  Navigation footer   ****/
/***********************************/

footer{
  margin-top: 20px;
  padding: 15px;
}

/***********************************/
/*********   5.0 Fonts    **********/
/***********************************/
h1{
  font-size: 2em;
}

/***********************************/
/******   6.0  Hero stuff   ********/
/***********************************/
.hero{
  background: rgb(169, 240, 218);
  min-height: 30vh;
  padding-top: 20vh;
}
/***********************************/
/*******   7.0  Animation   ********/
/***********************************/

/***********************************/
/********   8.0  Images   **********/
/***********************************/

/***********************************/
/******   9.0  Scroll bar   ********/
/***********************************/

/***********************************/
/*******   10.0  Buttons   *********/
/***********************************/

/***********************************/
/****   11.0 Personal kinks   ******/
/***********************************/

.center{
    text-align: center;
}

.grey{
  background-color: rgb(240, 245, 245);
}
/***********************************/
/*****   12.0 Mobile size    *******/
/***********************************/

@media only screen and (max-width: 900px) {


  }